.textColor {
  color: #fafafa;
}

body {
  background-color: #18171d;
}
* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.api-card {
  background-color: #222127;
}

a {
  color: #fafafa !important;
  text-decoration: none;
  transition: 0.15s;
}
a:hover {
  color: #9246ff !important;
  transition: 0.15s;
}
